<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/whatsapp_image_2026_10_04_at_12_58_43_am"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whatsapp_image_2026_10_04_at_12_58_43_am"
        android:supportsRtl="true"
        android:theme="@style/Theme.SvgaPlayer">

        <!-- Splash Activity (Centered Logo) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SvgaPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
